{% extends "../base.html" %}

{% block body_main_wrap %}
<section>
	<div class="container">
		<div class="col-md-6">
			<h1>Current Point</h1>
			<table class="table">
				<tr>
					<th>Item</th>
					<th>Point</th>
				</tr>
				<tr>
					<td>Xianglingzhi</td>
					<td>{{ this_user.point_xzl }}</td>
				</tr>
				<tr>
					<td>Jinghuasu</td>
					<td>{{ this_user.point_jhs }}</td>
				</tr>
				<tr>
					<td>Nengliangbei</td>
					<td>{{ this_user.point_nlb }}</td>
				</tr>
				<tr>
					<td>Nengliangtang</td>
					<td>{{ this_user.point_nlt }}</td>
				</tr>
				<tr>
					<td>Child Member</td>
					<td>{{ this_user.point_member }}</td>
				</tr>

			</table>
		</div>
		<div class="col-md-6">
			<h1>Balance</h1>
			<h2>{{ this_user.balance }}</h2>
		</div>
		<div class="col-md-6">
			<h1>Members' network</h1>
			<table class="table">
				<tr>
					<th>#</th>
					<th>Code</th>
					<th>Name</th>
					<th>Date joined</th>
				</tr>
				{% for i,m in enumerate(this_user.members) %}
				<tr>
					<td>i</td>
					<td>m.code</td>
					<td>m.name</td>
					<td>m.date_joined</td>
				</tr>
				{% end %}
			</table>
		</div>
		<div class="col-md-6">
			<h1>Functions</h1>
			<a href="/member/shop" target="_blank">Shop</a><br>
			<a href="/member/history_order" target="_blank">History orders</a><br>
			<a href="#">Point transfer</a><br>
			<a href="#">Register member</a><br>
			<a href="#">Change password</a><br>
			<a href="#">Logout</a><br>
		</div>
	</div>
</section>
{% end %}{# body_main_wrap #}