{% extends "../base.html" %}

{% block body_main_wrap %}
<section>
	<div class="container">
		<div class="col-md-12">
			<h1>Now, you are the admin</h1>
			<a href="/admin/append_initial_member">Append initial member</a><br>
			<a href="/admin/append_normal_member">Append normal member</a><br>
			<a href="/admin/member_list" target="_blank">Members' list</a><br>
			<a href="#">Product manager</a><br>
			<a href="#">Order manager</a><br>
			<a href="#">Operation log</a><br>
			<a href="#">Logout</a><br>
		</div>
	</div>
</section>
{% end %}{# body_main_wrap #}